<header>
	<audio controls>
		<source src="audio/frogland.mp3" type="audio/mp3">
	</audio>
</header>

<main class="frog-facts-page">
	<div class="title-container">
		<h2>This shit shows you frogs yo.</h2>
	</div>
</main>

<!---
<main class="frog-container">
	<article class="frog">
		<div class="frog-image">
			<i class="frog-image-url">
				{{frogImage}}
			</i>
			<p class="frog-caption">
				{{frogCaption}}
			</p>
		</div>
	</article>
	<div class="frog-container-content">
		<p class="frog-name">
			{{frogName}}
		</p>
		<p class="frog-diet">
			{{frogDiet}}
		</p>
		<p class="frog-misc">
			{{frogMisc}}
		</p>
	</div>

</main>-->